{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "rules": {
    // Ajoutez ici vos règles personnalisées
    "semi": "error", // Vérifie que les points-virgules sont utilisés de manière cohérente
    "indent": ["error", 2], // Vérifie l'indentation du code avec 2 espaces
    "quotes": ["error", "single"], // Vérifie que les guillemets simples sont utilisés pour les chaînes de caractères
    "no-unused-vars": "warn" // Avertissement pour les variables déclarées mais non utilisées
    // Ajoutez ici d'autres règles personnalisées ou spécifiques à votre projet
  }
}